@import "tailwindcss";

@font-face {
  font-family: "Uxum Grotesque";
  src: url("/fonts/uxumlight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uxum Grotesque";
  src: url("/fonts/uxumregular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uxum Grotesque";
  src: url("/fonts/uxumbold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black;
  font-family: "Uxum Grotesque", sans-serif;
}

@layer utilities {
  .headline-gradient {
    background-image: linear-gradient(273deg, rgb(138, 96, 255) 0%, rgb(193, 76, 193) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    padding: max(0em, calc(calc(1.3em - var(--line-height, 1.3em)) / 2));
    margin: min(0em, calc(calc(1.3em - var(--line-height, 1.3em)) / -2));
  }
}